<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>Application Configuration</comment>
	<entry key="DB_CtrlRoom_URL">jdbc:jtds:sqlserver://192.168.0.119:1433/ControlRoom</entry>
	<entry key="DB_MSC_URL">jdbc:jtds:sqlserver://192.168.30.241:1433/MSC</entry>
	<entry key="DB_VAS_URL">jdbc:jtds:sqlserver://192.168.0.119:1433/VAS</entry>
	<entry key="DB_VSD_URL">jdbc:sybase:Tds:192.168.0.231:5024/vsd</entry>
	<entry key="DB_OMVIA_URL">jdbc:oracle:thin:@192.168.51.11:1521:omvia</entry>
        <entry key="DB_CSTMR_URL">jdbc:oracle:thin:@192.168.0.232:1521:omvia</entry>
        <entry key="DB_EVOUCHER_URL">jdbc:jtds:sqlserver://192.168.0.35:1433/evoucher</entry>
        <entry key="DB_VAS1_URL">jdbc:jtds:sqlserver://192.168.0.120:1433/VAS</entry>
        <entry key="DB_VAS2_URL">jdbc:jtds:sqlserver://192.168.0.220:1433/VAS</entry>
        <entry key="DB_CRBT_URL">jdbc:mysql://192.168.0.72:3306/crbt</entry>
        <entry key="DB_FB_URL">jdbc:mysql://192.168.30.157:3306/hrsystem</entry>
        <entry key="DB_CREDTRANS_URL">jdbc:jtds:sqlserver://192.168.0.147:1433/africell</entry>
        <entry key="DB_SMSSC_URL">jdbc:sybase:Tds:192.168.51.41:5024/smssc_db</entry>
        <entry key="DB_CUSTCARE_URL">jdbc:sqlserver://192.168.30.184:1433/custcare</entry>
        <entry key="DB_TOKENSDB_URL">jdbc:jtds:sqlserver://192.168.30.40:1433/GPRSBilling</entry>
	<entry key="DB_CR_user">appuser</entry>
	<entry key="DB_MSC_user">sa</entry>
	<entry key="DB_VAS_user">sa</entry>
	<entry key="DB_VSD_user">sa</entry>
        <entry key="DB_CSTMR_user">cstmr</entry>
	<entry key="DB_TDS_user">tds</entry>
        <entry key="DB_EVOUCHER_user">sa</entry>
        <entry key="DB_VAS1_user">sa</entry>
        <entry key="DB_VAS2_user">Khalil</entry>
        <entry key="DB_CRBT_user">apliservices</entry>
        <entry key="DB_FB_user">root</entry>
        <entry key="DB_CREDTRANS_user">sa</entry>
        <entry key="DB_SMSSC_user">sa</entry>
        <entry key="DB_CUSTCARE_user">app</entry>
        <entry key="DB_TOKENSDB_user">sa</entry>
	<entry key="DB_VAS_pwd">sa</entry>
	<entry key="DB_CR_pwd">@pPusR</entry>
	<entry key="DB_MSC_pwd">@123456789@df</entry>
	<entry key="DB_VSD_pwd">vsdadmin</entry>
	<entry key="DB_TDS_pwd">tds</entry>
        <entry key="DB_CSTMR_pwd">cstmr</entry>
        <entry key="DB_EVOUCHER_pwd">afr1c3ll</entry>
        <entry key="DB_VAS1_pwd">sa</entry>
        <entry key="DB_VAS2_pwd">khalil</entry>
        <entry key="DB_CRBT_pwd">apliservices</entry>
        <entry key="DB_FB_pwd">123456789</entry>
        <entry key="DB_CREDTRANS_pwd">ivrsystem30</entry>
        <entry key="DB_SMSSC_pwd">vsdadmin</entry>
        <entry key="DB_CUSTCARE_pwd">app2013</entry>
        <entry key="DB_TOKENSDB_pwd">@123456789@df</entry>
        <entry key="CLI_Server">192.166.0.9</entry>
        <entry key="CLI_User">test</entry>
        <entry key="CLI_Local_User">test123</entry>
</properties>


